
div.footer
    div.container

      div.row
        div.col-md-6
          h2 Supported platforms
          p We currently support Mac OS X and Linux. For more information about installing and building go-ethereum on other platforms please visit our #[a(target="_blank", href="https://github.com/ethereum/go-ethereum/wiki/Building-Ethereum(Go)") wiki page].

        div.col-md-6
          h2 Troubleshooting
          p If something went wrong first read our Troubleshooting checklist. If you still didn't find your answer please #[a(href="") open an issue on GitHub] or contact our #[a(href="#") help desk].

      div.clearfix
        br
        br

      div.row
        div.col-md-6
          h2 Security
          p Please report security issues to #[a(href="mailto:security@ethereum.org") security@ethereum.org].

        div.col-md-6
          h2 License
          p Ethereum Core Protocol licensed under the #[a(target="_blank", href="https://github.com/ethereum/go-ethereum/blob/develop/LICENSE") GNU Lesser General Public License]. Ethereum client licensed under the GPL.

      div.clearfix
        br
        br

footer
  div.container
    div.row
      div.col-md-2.col-sm-3.col-xs-4
        p
          img.img-responsive(src="images/ethereum-logo-navbar.png")

      div.col-md-10.col-sm-9.col-xs-12
        p Ethereum Switzerland GmbH, EDV-Beratungsunternehmen und Softwarehäuser, Grienbachstrasse 55, 6340 Baar, Switzerland #[br]Copyright © 2015 Ethereum. All Rights Reserved.