div.main-tutorial
  div.container
    div.row
      div.col-md-12.tutorial.scrollme

        h2.animateme(data-when="enter", data-from="0.7", data-to="0", data-opacity="0", data-translatey="200") WHAT CAN I DO WITH ETHEREUM FRONTIER RELEASE?

        h3.center.animateme(data-when="enter", data-from="0.8", data-to="0.2", data-opacity="0", data-translatey="200") Well it depends on what you want. Here are some recipe ideas:

div.main-tutorial.even#install-geth
  div.container   
    div.row
      div.col-md-12

        figure.geth.scrollme
          div.geth-background.animateme(data-when="enter", data-from="0.5", data-to="0", data-opacity="0", data-translatex="100")
          div.geth-logo.animateme(data-when="enter", data-from="0.7", data-to="0.6", data-opacity="0")

        h3 
         div.number 1 
         | Run and Setup 
         strong Geth
         | , the Command Line Interface

        p Geth is the main tool of the Frontier release. You can use it to test the network, send ether (the network’s internal currency),  execute contracts, unlock your pre-sale ether or make your computer into a supporting node to earn ether (ie. “mining”).

        a(href="geth").button install Geth 

        div.recipe
          h4 You'll need:
          ul
            li 
              input(type="checkbox") 
              | Know how to use a command-line interface 
            li 
              input(type="checkbox") 
              |  500 Mb free space (for the blockchain) 
            li 
              input(type="checkbox") 
              |  Not be afraid of basic coding
            

div.main-tutorial#get-ether
  div.container   
    div.row
      div.col-md-12    
        figure.ether.scrollme
          div.ether-screen.animateme(data-when="span", data-from="0.6", data-to="0", data-translatey="500")
          div.ether-pacman.animateme(data-when="span", data-from="0.6", data-to="0.5", data-opacity="0")
          div.ether-arcade-back.animateme(data-when="span", data-from="0.6", data-to="0", data-translatey="500")
          div.ether-coin.animateme(data-when="span", data-from="0.6", data-to="0.4", data-translatey="-300")
          div.ether-arcade-front.animateme(data-when="span", data-from="0.6", data-to="0", data-translatey="500")
          
        h3 
         div.number 2 
         | Get Ether, the crypto-fuel of the ethereum network

        p Ether is the internal currency of the system. All programs running on ethereum need to pay to the network for their time in ether, and <strong>anyone can setup a computer executing those computations to earn ether ("mining")</strong>. If you participated in the presale to fund Ethereum development or in one of our bug bounty programs, you should have a wallet file (.json) that will allow you to unlock your ether. 

        p Otherwise you can get some from a friend, by exchanging it with bitcoin or in one of the sites that give away free ether.



        a(href="ether").button get Ether 

        div.recipe
          h4 You'll need:
          ul
            li 
              input(type="checkbox") 
              a(href="#install-geth") Geth 
            li 
              input(type="checkbox") 
              |  One of these:
              ul
                li 
                  input(type="checkbox") 
                  |  an active Github account, or..
                li 
                  input(type="checkbox") 
                  |  Bitcoins, or...
                li 
                  input(type="checkbox") 
                  |  computer with a good dedicated graphics card (to "mine"), or...
                li 
                  input(type="checkbox") 
                  em if you participated in the presale, 
                  | the .json file you downloaded after contributing, or… 
                li 
                  input(type="checkbox") 
                  |  a friend that can give you ether 

div.main-tutorial.even
  div.container   
    div.row
      div.col-md-12.tutorial
          figure.greeter.scrollme
            div.greeter-human.animateme(data-when="enter", data-from="0.4", data-to="0", data-opacity="0", data-translatex="-200")
            div.greeter-robot.animateme(data-when="enter", data-from="0.5", data-to="0.2", data-opacity="0", data-translatex="200")
            div.greeter-question.animateme(data-when="enter", data-from="0.7", data-to="0.5", data-opacity="0")
            div.greeter-answer.animateme(data-when="enter", data-from="0.9", data-to="0.6", data-opacity="0")

          h3 
           div.number 3 
           | Create the Greeter, your first live contract

          p The greeter is a very simple contract that greets “Hello” when you poke it. It includes a very simple upgrade that turns it into a contract that will charge for telling jokes.


          a(href="greeter").button Summon the Greeter 

          div.recipe
            h4 You'll need:
            ul
              li 
                input(type="checkbox") 
                a(href="#install-geth") Geth 
              li 
                input(type="checkbox") 
                |  Desire to learn new things  
              li 
                input(type="checkbox") 
                |  0.001 
                a(href="#get-ether") ether 
                | (approximatelly)
              li 
                input(type="checkbox") 
                |  1 "knock knock" joke (optional)



div.main-tutorial#crypto-currency
  div.container   
    div.row
      div.col-md-12

        figure.coin.scrollme
          div.coin-connection.animateme(data-when="enter", data-from="1", data-to="0.5", data-opacity="0", data-translatey="0")
          div.coin-send.animateme(data-when="enter", data-from="0.9", data-to="0.8", data-opacity="0", data-translatey="-50", data-translatex="-200")
          div.coin-users.animateme(data-when="enter", data-from="0.5", data-to="0", data-opacity="0", data-translatey="-100", data-scale="1.5", data-rotate="45")
          div.coin-coins.animateme(data-when="enter", data-from="0.6", data-to="0.4", data-opacity="0", data-scale="0.5", data-translatey="-10")

        h3 
         div.number 4 
         | Design and issue your own cryptocurrency

        p Create a tradeable digital token that can be used as a currency, a representation of an asset, a virtual share, proof of membership or anything you want. These tokens use a standard coin api, so it will be automatically compatible with any wallet, contract or exchange that also uses the same standard. The total amount of tokens in circulation can be controlled by anything you can program into it, or simply set to a fixed constant amount.

        a(href="token").button Issue your token 

        div.recipe
          h4 You'll need:
          ul
            li 
              input(type="checkbox") 
              a(href="#install-geth") Geth 
            li 
              input(type="checkbox") 
              |  Very basic programming skills 
            li 
              input(type="checkbox") 
              |  0.002  
              a(href="#get-ether") ether 
              | (approximatelly)
            li 
              input(type="checkbox") 
              |  1 cool coin name (optional)

div.main-tutorial.even#crowdsale
  div.container   
    div.row
      div.col-md-12.tutorial
          figure.crowdsale.scrollme
            div.crowdsale-logic.animateme(data-when="enter", data-from="0.8", data-to="0.7", data-opacity="0", data-translatey="-100", data-easing="linear")
            div.crowdsale-robot.animateme(data-when="enter", data-from="0.5", data-to="0.3", data-opacity="0", data-translatey="-155", data-translatex="-30", data-scale="1.1", data-rotatez="90", data-easing="linear")
            div.crowdsale-money.animateme(data-when="enter", data-from="0.8", data-to="0.6", data-opacity="0",data-translatey="-20")
            div.crowdsale-contributions.animateme(data-when="enter", data-from="0.7", data-to="0.5", data-opacity="0", data-scale="1.4")
            div.crowdsale-crowd.animateme(data-when="enter", data-from="0.3", data-to="0", data-opacity="0", data-translatey="-100", data-scale="1.1", data-easing="linear")

          h3 
           div.number 5 
           | Kickstart a project with a trustless crowdsale

          p Are you already full of ideas to develop things in ethereum? Maybe now you need some help and some funds to do that, but who would give money to someone they don’t trust? Using Ethereum you can create a contract that will hold contributors money until either a specific date is reached or until a given amount is reached. All without requiring a central service provider, a clearing house or having to trust anyone. 

          p You can even use the token you just created to keep track of ownership of prizes.


          a(href="crowdsale").button Kickstart your project 

          div.recipe
            h4 You'll need:
            ul
              li 
                input(type="checkbox") 
                a(href="#install-geth") Geth 
              li 
                input(type="checkbox") 
                | Basic programming skills 
              li 
                input(type="checkbox") 
                | 0.004  
                a(href="#get-ether") ether 
                | (approximatelly)
              li 
                input(type="checkbox") 
                | an ethereum-based  
                a(href="#crypto-currency") digital token 
                | (will be used to keep track of the rewards) 
              li 
                input(type="checkbox") 
                | 1 good idea that needs funding


div.main-tutorial
  div.container   
    div.row
      div.col-md-12

        figure.dao.scrollme
          div.dao-robot.animateme(data-when="enter", data-from="0.65", data-to="0.45", data-opacity="0", data-translatey="200", data-rotatez="-90")
          div.dao-money.animateme(data-when="enter", data-from="0.7", data-to="0.5", data-opacity="0", data-translatey="200")
          div.dao-arrows.animateme(data-when="enter", data-from="0.95", data-to="0.8", data-opacity="0", data-scale="1.5")
          div.dao-crowd.animateme(data-when="enter", data-from="0.45", data-to="0", data-opacity="0", data-translatey="-250", data-translatex="10", data-rotatez="0", data-scale="1.1", data-easing="linear")
          div.dao-ideas.animateme(data-when="enter", data-from="0.8", data-to="0.7", data-opacity="0", data-translatey="-40")

        h3 
         div.number 6 
         | Create a democratic autonomous organization

        p Now you have an idea, the funds and a lot of backers, what’s next? You now have to hire managers, find a trustable CFO to handle the funds, do board meetings and a bunch of paperwork. Or you can simply leave that to an ethereum contract. It will accept proposals by any of your contributors and then put them all to a transparent vote.

        p One of the advantadges of having a robot run your organization is that it is immune to any outside influence and it’s guaranteed to execute only what it is programmed to do. Also your organization will never go offline or disappear and will always be available as long as the network exists.

        a(href="dao").button Start your organization 

        div.recipe
          h4 You'll need:
          ul
            li 
              input(type="checkbox") 
              a(href="#install-geth") Geth 
            li 
              input(type="checkbox") 
              | Basic programming skills 
            li 
              input(type="checkbox") 
              | 0.008  
              a(href="#get-ether") ether 
              | (approximatelly) to create the contract 
                        
            li 
                input(type="checkbox") 
                | an ethereum-based 
                a(href="#crypto-currency") digital token  
                | (will serve as a voting right) 

            li 
              input(type="checkbox") 
              a(href="#crowdsale") Any amount of funds

            li 
              input(type="checkbox") 
              | A bunch of ideas on where to spend your funds
            li 
              input(type="checkbox") 
              | Friends to vote on these ideas (optional)


div.main-tutorial.even.ethereum-projects 
  div.container   
    div.row
      div.col-md-12

        figure.moon.scrollme
          div.moon-stars.animateme(data-when="span", data-from="0", data-to="1", data-translatey="100", data-rotatez="360", data-easing="linear")
          div.moon-moon.animateme(data-when="span", data-from="0", data-to="1", data-translatey="100", data-rotatez="720", data-easing="linear")
          div.moon-rocket.animateme(data-when="span", data-from="0", data-to="1", data-translatey="-200", data-easing="linear")
          
        h3 
         div.number 7 
         | Build a new kind of decentralized application

        p Now it's your turn: start building what you want to create in ethereum! Could your business be enhanced by existing in a cryptographically secure, decentralized, tamper proof network?

        p There are many great projects being built right now, you should check them. And since you are among the very few people in the world that can program a decentralized app, maybe some of them might need your help!

        h4 Some projects using Ethereum

        ul
          li
            a(href='http://augur.net') Augur 
            | Decentralized prediction market built on Ethereum

          li 
            a(href='https://etherex.org/') Etherex 
            | Ethereum based opensource exchange
          li
            a(href='https://www.theprotocol.tv/adept-demo-ibm-samsung') IBM 
            | IBM/Samsung Internet of Things project
          li 
            a(href='http://ether.fund') Ether.fund              
            | Ethereum blockchain services
          
          li 
            a(href='http://ethergit.com') Ether Git 
            | Ethereum blockchain explorer

          li 
            a(href='http://airlock.me/') Airlock             
            | Next generation keyless access protocol for smart property
          li 
            a(href='https://www.provenance.org') Provenance            
            | Social business founded to open up the world of how things are made
          li 
            a(href='https://dgx.io/') DigiGlobal           
            | the first Smart Asset company built on Ethereum
          li 
            a(href='http://weifund.io/') Wei.fund             
            | A non-profit, decentralized crowdfunding platform built on Ethereum
          li 
            a(href='http://www.lazooz.net/')  Lazzoz            
            | Decentralized Collaborative Transportation Web
          li 
            a(href='http://slock.it') Slock.it 
            | "If you can lock it, we will let you rent, sell or share it."

          li 
            a(href='http://main.cubespawn.com') Cubespawn 
            | Open source project to build cost sensitive, high quality, modular manufacturing machines



