extends layout

block content
  include mixins/recipes.jade
  include warning.jade

  div#tutorial-start.main-tutorial.inner-tutorial.even
    div.container
      div.row
        div.col-md-12.tutorial.scrollme
          div.breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20") 
            a(href="/").index Ethereum Frontier 
            strong »  Get Ether  
            a(href="/geth").previous Previous 
            a(href="/greeter").next Next 

          figure.ether.scrollme
            div.ether-screen.animateme(data-when="span", data-from="0.6", data-to="0", data-translatey="500")
            div.ether-pacman.animateme(data-when="span", data-from="0.6", data-to="0.5", data-opacity="0")
            div.ether-arcade-back.animateme(data-when="span", data-from="0.6", data-to="0", data-translatey="500")
            div.ether-coin.animateme(data-when="span", data-from="0.6", data-to="0.4", data-translatey="-300")
            div.ether-arcade-front.animateme(data-when="span", data-from="0.6", data-to="0", data-translatey="500")

          h2.animateme(data-when="span", data-from="0.6", data-to="0.3", data-opacity="0", data-translatey="200") Get Ether

          h3.center.animateme(data-when="span", data-from="0.7", data-to="0.5", data-opacity="0", data-translatey="200") The crypto-fuel for the Ethereum Network

          a(href="#warning").cannot-continue You cannot continue until you read and understand the dangers

  div.main-tutorial.hidden.inner-tutorial
    div.container  
      div.row
        div.col-md-12
          include:md content/ether.md        

  div.main-tutorial.hidden.even
    div.container   
      div.row
        div.col-md-12.tutorial
            +greeterRecipe("What's next?")
