extends layout

block content
  include warning.jade


  div#tutorial-start.main-tutorial.inner-tutorial
    div.container
      div.row
        div.col-md-12.tutorial.scrollme
          div.breadcrumb.animateme(data-when="exit", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20") 
            a(href="/") Ethereum Frontier 
            | » 
            strong Installing Geth 

          figure.geth.scrollme
            div.geth-background.animateme(data-when="span", data-from="0.5", data-to="0", data-opacity="0", data-translatey="-100")
            div.geth-logo.animateme(data-when="span", data-from="0.7", data-to="0.5", data-opacity="0")

          h2.animateme(data-when="span", data-from="0.6", data-to="0.3", data-opacity="0", data-translatey="200") Installing Geth

          h3.center.animateme(data-when="span", data-from="0.7", data-to="0.5", data-opacity="0", data-translatey="200") The command line tool for Ethereum Frontier

          a(href="#warning").cannot-continue You cannot continue until you read and understand the dangers

  div.main-tutorial.hidden.inner-tutorial.even
    div.container  
      div.row
        div.col-md-12
          include:md geth.md        


  div.main-tutorial.hidden
    div.container   
      div.row
        div.col-md-12.tutorial
           
          figure.geth-ether.geth.scrollme
            div.get-ether-brick-0.animateme(data-when="span", data-opacity="0", data-from="0.5", data-to="0.65", data-translatex="200", data-translatey="400", data-rotatez="-30", data-easing="easein")
            div.get-ether-brick-1.animateme(data-when="span", data-opacity="0", data-from="0.5", data-to="0.65", data-translatex="-200", data-translatey="400", data-rotatez="30", data-easing="easein")
            div.get-ether-coin.animateme(data-when="enter", data-from="0", data-to="1", data-translatey="-100", data-rotatez="45", data-rotatex="30", data-rotatey="45")
            div.get-ether-brick-2.animateme(data-when="span", data-opacity="0", data-from="0.5", data-to="0.65" data-translatex="-400", data-translatez="-200", data-rotatez="-45", data-easing="easein")
            div.get-ether-brick-3.animateme(data-when="span", data-opacity="0", data-from="0.5", data-to="0.65", data-translatex="400", data-translatey="200", data-rotatez="45", data-easing="easein")
            div.get-ether-brick-4.animateme(data-when="span", data-opacity="0", data-from="0.5", data-to="0.65", data-translatex="200", data-translatey="-400", data-rotatez="30", data-easing="easein")
            div.get-ether-brick-5.animateme(data-when="span", data-opacity="0", data-from="0.5", data-to="0.65", data-translatex="-200", data-translatey="-400", data-rotatez="-30", data-easing="easein")

          h2 What's next
          h3 
           div.number 2 
           | Get Ether, the crypto-fuel of the ethereum network

          p Ether is the internal currency of the system. All programs running on ethereum need to pay for their time in ether, and anyone can setup a computer executing those computations to earn ether. If you donated to fund Ethereum development or if you participated on our bug bounty program, you should have a file with a claim for ether. Otherwise you can get some from a friend, by exchanging it with bitcoin or in one of the sites that give away free ether.

          a(href="ether").button get Ether 

          div.recipe
            h4 You'll need:
            ul
              li 
                input(type="checkbox") 
                a(href="#install-geth") Geth 
              li 
                input(type="checkbox") 
                |  One of these:
                ul
                  li 
                    input(type="checkbox") 
                    |  an active Github account, or..
                  li 
                    input(type="checkbox") 
                    |  Bitcoins, or...
                  li 
                    input(type="checkbox") 
                    |  computer with a good dedicated graphics card, or...
                  li 
                    input(type="checkbox") 
                    em if you participated in the presale, 
                    | the .json file you downloaded after contributing, or… 
                  li 
                    input(type="checkbox") 
                    |  a friend that can give you ether 
