extends layout

block content
  include warning.jade

  div#tutorial-start.main-tutorial.hidden.inner-tutorial
    div.container
      div.row
        div.col-md-12.tutorial.scrollme
          div.breadcrumb.animateme(data-when="exit", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20") 
            a(href="/") Ethereum Frontier 
            | » 
            strong Create a digital greeter 

          figure.greeter.scrollme
            div.greeter-human.animateme(data-when="enter", data-from="0.4", data-to="0", data-opacity="0", data-translatex="-200")
            div.greeter-robot.animateme(data-when="enter", data-from="0.5", data-to="0.2", data-opacity="0", data-translatex="200")
            div.greeter-question.animateme(data-when="enter", data-from="0.7", data-to="0.5", data-opacity="0")
            div.greeter-answer.animateme(data-when="enter", data-from="0.9", data-to="0.6", data-opacity="0")
         
          h2.animateme(data-when="span", data-from="0.6", data-to="0.3", data-opacity="0", data-translatey="200") The Greeter

          h3.center.animateme(data-when="span", data-from="0.7", data-to="0.5", data-opacity="0", data-translatey="200") Your Digital Pal Who's Fun to Be With

          a(href="#warning").cannot-continue You cannot continue until you read and understand the dangers

  div.main-tutorial.hidden.inner-tutorial.even
    div.container  
      div.row
        div.col-md-12
          include:md greeter.md        


  div.main-tutorial.hidden
    div.container   
      div.row
        div.col-md-12.tutorial
          figure.coin.scrollme
            div.coin-connection.animateme(data-when="enter", data-from="1", data-to="0.5", data-opacity="0", data-translatey="0")
            div.coin-send.animateme(data-when="enter", data-from="0.9", data-to="0.8", data-opacity="0", data-translatey="-50", data-translatex="-200")
            div.coin-users.animateme(data-when="enter", data-from="0.5", data-to="0", data-opacity="0", data-translatey="-100", data-scale="1.5", data-rotate="45")
            div.coin-coins.animateme(data-when="enter", data-from="0.6", data-to="0.4", data-opacity="0", data-scale="0.5", data-translatey="-10")
            
          h2 What's next?
          
          h3 
           div.number 3 
           | Design and issue your own cryptocurrency

          p Create a tradeable digital token that can be used as a currency, a representation of an asset, a virtual share, proof of membership or anything you want. These tokens use a standard coin api, so it will be automatically compatible with any wallet, contract or exchange that also uses the same standard. The total amount of tokens in circulation can be controlled by anything you can program into it, or simply set to a fixed constant amount.

          a(href="../token").button Issue your token 

          div.recipe
            h4 You'll need:
            ul
              li 
                input(type="checkbox") 
                a(href="../geth") Geth 
              li 
                input(type="checkbox") 
                |  Very basic programming skills 
              li 
                input(type="checkbox") 
                |  0.002 ether (approximatelly)
              li 
                input(type="checkbox") 
                |  1 cool coin name (optional)


          

