extends layout

block content
  div.main-tutorial.scrollme.intro
    div.scrollme.row.introduction.animateme(data-when="span", data-from="0", data-to="1", data-opacity="0.2", data-translatey="300", data-easing="linear")
      div.animateme(data-when="span", data-from="0", data-to="1", data-translatey="300", data-easing="linear")
        h1 Welcome to the frontier

  div.main-content
    div.container
      div.row
        div.col-md-12.whatis.scrollme
          img(src="images/ethereum-network.png").float-right.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0", data-translatey="300")
          h2 What is Ethereum?
          p Ethereum is a decentralized network of computers that run smart contracts:  applications that are guaranteed to always run exactly as programmed without any possibility of censorship, fraud or meddling by a central external party. 

          p Ethereum is how the internet was supposed to run.  

          p Ethereum was funded by fans all around the world during a crowdsale in August 2014 and is developed by great minds all around the world.
          
          div.clear 
          img(src="images/console.gif").float-left.animateme(data-when="span", data-from="0.8", data-to="0", data-opacity="0", data-translatey="300")
          h2 What is the Frontier Release?

          p Frontier is the first released tool of the Ethereum ecossystem, tailored for developers. It’s a command line only interface with a javascript environment that allows building, testing, deploying and using decentralized apps and sites on the ethereum blockchain.

          p Exploring the frontier is exciting but it’s also rough, dangerous and not for everyone. Be Warned.


      div.clearfix
        br
        br

  include ./includes/recipes.jade 



