extends layout

block content
  div.main-tutorial.scrollme.intro
    div.scrollme.row.introduction.animateme(data-when="span", data-from="0", data-to="1", data-opacity="0.2", data-translatey="200")
      div.animateme(data-when="span", data-from="0", data-to="1", data-translatey="150")
        h1 Welcome to the frontier

  div.main-content
    div.container
      div.row
        div.col-md-12.whatis.scrollme
          img(src="images/ethereum-network.png").float-right.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0", data-translatey="200")
          h2 What is Ethereum?
          p Ethereum is a decentralized network of computers that run smart contracts:  applications that are guaranteed to always run exactly as programmed without any possibility of censorship, fraud or meddling by a central external party. 

          p Ethereum is how the internet was supposed to run.  

          p Ethereum was funded by fans all around the world during a crowdsale in August 2014 and is developed by great minds all around the world.
          
          div.clear 
          img(src="images/console.png").float-left.animateme(data-when="span", data-from="0.8", data-to="0.1", data-opacity="0", data-translatey="200")
          h2 What is the Frontier Release?

          p Frontier is the first released tool of the Ethereum ecossystem, tailored for developers. It’s a command line only interface with a javascript environment that allows building, testing, deploying and using decentralized apps and sites on the ethereum blockchain.

          p Exploring the frontier is exciting but it’s also rough, dangerous and not for everyone. Be Warned.


      div.clearfix
        br
        br

  include ./includes/recipes.jade 





  div.footer
    div.container

      div.row
        div.col-md-6
          h2 Supported platforms
          p We currently support Mac OS X and Linux. For more information about installing and building go-ethereum on other platforms please visit our #[a(target="_blank", href="https://github.com/ethereum/go-ethereum/wiki/Building-Ethereum(Go)") wiki page].

        div.col-md-6
          h2 Troubleshooting
          p If something went wrong first read our Troubleshooting checklist. If you still didn't find your answer please #[a(href="") open an issue on GitHub] or contact our #[a(href="#") help desk].

      div.clearfix
        br
        br

      div.row
        div.col-md-6
          h2 Security
          p Please report security issues to #[a(href="mailto:security@ethereum.org") security@ethereum.org].

        div.col-md-6
          h2 License
          p Ethereum Core Protocol licensed under the #[a(target="_blank", href="https://github.com/ethereum/go-ethereum/blob/develop/LICENSE") GNU Lesser General Public License]. Ethereum client licensed under the GPL.

      div.clearfix
        br
        br