@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,300,300italic,700|Roboto+Mono:400,700);



body {
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Wicked-Grit', serif;
	letter-spacing: -1px;
	margin: 10px 0;
	font-weight: 400;
}

h1 {
	font-size: 36px;
	font-weight: 700;
}

h2 {
	background: url('../images/bg_hr.png') repeat-x bottom;
	font-size: 28px;
	text-transform: uppercase;
	color: #b9a360;
	padding-bottom: 10px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 21px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	margin: 10px 0 15px 0;
}

a {
	color: #d19020;
}

a:hover {
	color: #b5670b;
	cursor: pointer;
}

.container {
	max-width: 970px;
}

.btn {
	text-transform: uppercase;
	font-family: 'Holtwood One SC', serif;
	font-size: 13px;
	letter-spacing: -1px;
}

header, footer {
	padding: 20px 0px;
	color: #8A92B2;
	color: #fafafa;
}

header {
	height: 70vh;
	min-height: 440px;
	background: url('../images/Frontier-Background.jpg') center center no-repeat;
	background-size: cover;
	position: relative;
	
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;

	display: -moz-flex;
	-moz-justify-content: center;
	-moz-align-items: center;

	display: flex;
	justify-content: center;
	align-items: center;
}

div.scrollme.intro {
	background: #1f0c05;
	overflow: hidden;
}

div.scrollme.row.introduction {
	height: 70vh;
	min-height: 440px;
	background: url('../images/Frontier-Background.jpg') center center no-repeat;
	background-size: cover;	
	padding-top: 50px;
}

.introduction h1 {
	background: url('../images/Title+Logo.png') top center no-repeat;
	background-size: 250px 323px;
	height: 0;
	padding-top: 323px;
	overflow: hidden;
}

header:after {
	content: " ";
	background: linear-gradient(transparent, #1f0c05);
	height: 100px;
	position: absolute;	
	bottom: 0;
	left: 0;
	right: 0;
}

.main-content:before {
	content: " ";
	background: linear-gradient(transparent, #1f0c05);
	height: 100px;
	position: absolute;	
	top: -100px;
	left: 0;
	right: 0;
}


.main-tutorial.part1:before {
	content: " ";
	background: linear-gradient(#D9B177, rgba(210,170,120,.1), transparent);
	height: 300px;
	position: absolute;	
	top: 0;
	left: 0;
	right: 0;
}

header .title {
	background: url('../images/Title+Logo.png') top center no-repeat;
	background-size: 250px 323px;
	width: 0;
	padding-left: 250px;
	height: 475px;
	overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	.introduction h1 , header .title {
		background-image: url('../images/Title+Logo@2x.png');
	}	
}

@media only screen and (-webkit-min-device-pixel-ratio: 2 ) and (min-width: 654px ) {
	header {
		background-image: url('../images/Frontier-Background@2x.jpg');
	}
}


@media only screen and (-webkit-min-device-pixel-ratio: 1 ) and (min-width: 1300px ) {
	header {
		background-image: url('../images/Frontier-Background@2x.jpg');
	}
}

@media only screen and (min-height:900px) {
	header .title {
		background-image: url('../images/Title+Logo@2x.png');
		background-size: 375px 484px;
		height: 700px;
		padding-left: 484px;	
	}
}

@media only screen and (max-width: 1400px) {
	.container {
		padding-right: 200px;
	}
}

.status-bar {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}

.status-bar > div {
	overflow: hidden;
	min-width: 100px;
}

#block-content .status-bar span.block-hash {
	color: #eb453e;
}

#block-content .status-bar span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}

#block-content {
	background: #1f0c05;
	padding-top: 10px;
	padding-bottom: 15px;
}

#block-content h6 {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0px;
	color: #b9a360;
	margin-bottom: 0px;
}

#block-content span {
	font-family: 'Roboto', 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #F6E6CC;
	font-smooth: auto;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;
}

.main-content {
	padding-top: 40px;
	color: #F6E6CC;
	background: #1f0c05;
	position: relative;
}


.main-tutorial {
	background: #EFE6C4;
	font-family: 'Roboto', 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #443A37;
	position: relative;
	display: none;
}


.main-tutorial.part0 {
	color: #EFE6C4;
	background: #D54839;
}

.main-tutorial.part0 h2 ,
.main-tutorial.part0 h3 {
	color: #EFE6C4;
}

/*
.main-tutorial.part2 {
	background: #FFB51A;
}

.main-tutorial.part3 {
	background: #D54839;
}

.main-tutorial.part4 {
	background: #EFE6C4;
}*/

.main-tutorial p {
	padding: 0 20px 0;
}

.center-align {
	text-align: center;
}

/*
.main-tutorial h2 {
	font-family: "Wicked-Grit";
	font-size: 48px;
	color: #443A37;
	background: transparent;
	padding: 80px 20px 40px;
}
*/
.main-tutorial h2 {
	/*font-family: "Roboto Slab";*/
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 900;
	color: #443A37;
	background: transparent;
	padding: 80px 20px 40px;
}

.main-tutorial h3 {
	font-family:'Roboto Slab', serif;;
	font-size: 36px;
	font-weight: 500;
	color: #443A37;
	background: transparent;
	padding: 60px 20px 30px;
}

.main-tutorial h4 {
	font-family: 'Roboto', sans-serif;	font-size: 24px;
	font-weight: 600;
	padding: 40px 20px 20px;	
}

.main-tutorial h2 + h3 {
	padding-top: 0;
	margin-top: -50px
}

.main-tutorial h3 + h2 {
	padding-top: 0;
	margin-top: -50px
}

.main-tutorial .row {
	padding: 200px 0 60px;
}

.start-menu {
	-webkit-perspective: 2000;
	-moz-perspective: 2000;
	perspective: 2000;
}

.main-tutorial .row.start-menu {
	padding-top: 0;
}

.main-tutorial .note {
	font-weight: 600;
}

.main-tutorial code {
	display: block;
	background: #F5F2E6;
	font-family: 'Roboto Mono', "Source Code pro", "Courier New", monospace;
	white-space: pre;
	font-size: 14px;
	font-weight: 600;
	padding: 30px 20px;
	margin: 30px 0;
	border: solid 4px #D6CDAB;
	overflow: auto;
}

/*ul {
	padding-left: 20px;
}*/

ul#toc {
	position: fixed;
	top: 10px;
	right:10px;
	width: 220px;
	z-index: 10;
	padding: 10px;
	font-size: 16px;
	font-weight: 600;
	float: right;
	opacity: 0;
}

ul#toc ul {
	padding-left: 5px;
}

ul#toc li {
	list-style-type: none;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	border-top: dotted 1px #E9BEA1;
	padding: 3px 0 4px 5px;
}

ul#toc li:first-child {
	border-top: none;
}

ul#toc li a {
	color: #D54839;
}

ul#toc > li {
	text-transform: uppercase;
}

ul#toc > li > ul {
	border-left: solid 3px #D54839;
}

ul#toc > li > ul > li  {
	text-transform: none;
	font-weight: 500;
}

ul#toc > li > ul > li > ul > li  {
	text-transform: none;
	font-weight: 300;
	font-size: 15px;
}

ul#toc.light li a {
	color: #EFE6C4;
}

ul#toc.light ul, 
ul#toc.light li  {
	border-color: #EFE6C4;
}

.terms-checkbox {
	margin-right: 30px;
	margin-top: 6px;
}

.terms-checkbox input {
	margin-right: 10px;
}

pre, code {
	background: #F6E6CC;
}

footer {
	background: url('../images/bg-footer.png') top center #161c30;
	background-size: 1920px auto;
	font-size: 14px;
	border-top: 3px solid #eb453e;
	color: #F6E6CC;
}
